    <div class="bl-slide-wrapper">
        <div class="bl-slide slide__current"
            data-title="Roof Conversions, Made Easy" 
            data-subtitle="Make the most of your conservatory"
            data-text="Our conservatories are crafted with the highest quality materials, ensuring durability and longevity."
            data-cta-link="/services"
            data-selector-text="Conservatory Roofs"
        >
            <div class="bl-slide-blind" style="--blind-delay: 0s">
                <img class="bl-slide-image" src="/static/img/slides/slide-1.jpeg">
            </div>
            <div class="bl-slide-blind" style="--blind-delay: 0.075s">
                <img class="bl-slide-image" src="/static/img/slides/slide-1.jpeg">
            </div>
            <div class="bl-slide-blind" style="--blind-delay: 0.15s">
                <img class="bl-slide-image" src="/static/img/slides/slide-1.jpeg">
            </div>
            <div class="bl-slide-blind" style="--blind-delay: 0.225s">
                <img class="bl-slide-image" src="/static/img/slides/slide-1.jpeg">
            </div>
            
        </div>
        <div class="bl-slide" 
            data-title="Garden Rooms, Creating Extra Space" 
            data-subtitle="Extra Space All year Round"
            data-text="Our garden rooms offer more value on your house, make the most out of your outdoor spaces."
            data-cta-link="/services"
            data-selector-text="Garden Rooms"
        >
            <div class="bl-slide-blind" style="--blind-delay: 0s">
                <img class="bl-slide-image" src="/static/img/slides/slide-2.jpeg">
            </div>
            <div class="bl-slide-blind" style="--blind-delay: 0.075s">
                <img class="bl-slide-image" src="/static/img/slides/slide-2.jpeg">
            </div>
            <div class="bl-slide-blind" style="--blind-delay: 0.15s">
                <img class="bl-slide-image" src="/static/img/slides/slide-2.jpeg">
            </div>
            <div class="bl-slide-blind" style="--blind-delay: 0.225s">
                <img class="bl-slide-image" src="/static/img/slides/slide-2.jpeg">
            </div>
        </div>
        <div class="bl-slide-overlay">
            <div class="bl-slide-overlay-container">
                <div class="bl-slide-content">
                    <div class="bl-slide-content-item">
                        <span class="bl-slide-subtitle caps heavy-weight small-text spaced-text highlight-text"></span>
                    </div>
                    <div class="bl-slide-content-item">
                        <h2 class="bl-slide-title bl-clip-item"></h2>
                    </div>
                    
                    <div class="seperator seperator--light seperator--left mt-3 mr-4"></div>
                    <div class="bl-slide-content-item">
                    
                        <p class="bl-slide-description bl-clip-item" style="--transition-delay: .7s"></p>
                    </div>
                        <div class="grid col-2 g-3 pt-3">
                    <a href="{{url_for('main.service_list')}}" class="bl-slide-cta btn btn-primary btn-md py-3 px-4 flex align-center justify-between">
                        <span>Learn More</span>
                        <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 17L17 7M17 7H7M17 7V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </a>
                    </div>
                </div>
                <div class="bl-slide-actions">
                    <ul class="bl-slide-selectors">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    