{% extends "base/base.html" %}


    {% block header %}
    {% set hdr = { 'color' : 'light', 'floating' : false } %}
    {% include "base/header.html" %}
    {% endblock header %}
    {% block hero %}
    <div class="hero hero-short">
        <img class="object-cover absolute full-width full-height" src="{{ url_for('static', filename='img/slides/blog-banner.jpg')}}"/>
        <div class="overlay"></div>
        <div class="content flex col full-width full-height align-center text-center justify-center g-3 white-text relative z-3">
            {% include 'base/breadcrumbs.html' %}
            <h1>{{page.body_title}}</h1>
            <div class="full-width">
                <div class="seperator seperator--highlight seperator--center mt-3 mb-3 mx-auto w-ch60 "></div>
            </div>
            <p class="mx-auto w-ch50 smaller-text lh-2">{{ page.body_intro }}</p>
        </div>
    </div>
    {% endblock hero %}
    {% block body %}
        <section>
            <div class="content grid col-3 md-col-2 sm-col-1 g-4 sm-g-3">
                <main class="span-2">
                    {% for article in articles %}
                        <div class="card card--light card--light-2 p-3 br-3 mb-3">
                            <div class="post-img br-4">
                            </div>
                            <div class="px-2">
                                <div class="flex g-2 py-4 align-center">
                                    <span>By: <span class="heavy-weight">{{article.author or 'Joe Bloggs'}}</span></span>
                                    <span class="small-square small-square--primary"></span>
                                    <span> <time datetime="{{article.date or '2026-05-23'}}">{{article.date or 'May 23, 2026'}}</time></span>
                                </div>

                                <span class="title-text heavy-weight">{{article.title}}</span>
                                <p class="py-3">{{article.abstract}}</p>
                                <div class="grid col-4 sm-col-2 g-2 pb-3 pr-3"> 
                                    <a class="btn btn-transparent pt-3 pb-3 mt-3 justify-between" style href="{{article.get_absolute_url()}}">
                                        <span class="heavy-weight medium-text">Read</span>
                                        <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 17L17 7M17 7H7M17 7V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </main>
                <aside>
                    <div class="card card--light card--light-2 p-3 br-3">
                        <div class="form-control form-control--inline-button flex br-2">
                            <input class="fg-1" type="text" placeholder="Search">
                            <button class="fc-button fg-0">
                                <svg width="30px" height="30px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
                                    <path fill="currentColor" fill-rule="evenodd" d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card card--light card--light-2 p-3 br-3 mt-3">
                        <span>Categories</span>
                        {% for category in categories %}
                            <a href="" class="btn btn-light p-3 my-3 heavy-weight">{{category.title}}</a>
                        {% endfor %}
                    </div>
                </aside>
            </div>
        </section>
    {% endblock body %}