{% extends "base/base.html" %}
    {% block extra_head %} 
        <link rel="stylesheet" href="/static/css/bl-slider.css">
        <link rel="stylesheet" href="/static/css/carousel.css">
    {% endblock extra_head %}

    
    {% block header %}
        {% set hdr = {"color" : "dark", "floating" : true}  %}
        {% include "base/header.html" %}
    {% endblock header %}

    {% block hero %}
        {% include "fragments/bl-slider.html"%}
    {% endblock hero %}
    {% block body %}
    <section class="">
        {% set section=page.section('welcome-section') %}
        <div class="grid col-3 sm-col-1 content g-3 px-3">
            {% set welcome_cards = section.list_for('welcome-cards')%}
            {% for item in welcome_cards.items %}
              {% set card = item %}
              {% include 'fragments/cards/dark-card-1.html'%}
            {% endfor %}
        </div>
    </section>
    <section class="">
        {% set section=page.section("home-about") %}
        <div class="grid content px-3 col-2--right md-col-1 sm-col-1">
            <div class="pr-6 md-hide sm-hide">
                <div class="poster-img">
                    <img class="object-cover" src="{{ url_for('static', filename='img/placehold/0.jpg') }}" alt="{{section.title}}">
                </div>
            </div>
            <div class="">
                <span class="small-text spacedish-text heavy-weight caps">{{section.subtitle}}</span>
                <h3 class="semilarge-text heavy-weight lh-1">{{section.title}}</h3>
                <p class="py-3 w-ch60 normal-text lh-2">{{section.text}}</p>
                <div class="grid col-2 sm-col-1 g-6 pt-3 align-end">
                    <div class="">
                        <div class="quicktabs-wrapper light">
                            {% set mission = section.list_for('home-mission') %}
                            {% set vision = section.list_for('home-vision') %}
                            {% set values = section.list_for('home-values') %}
                            {% set section_lists = [mission, vision, values]%}
                            <div class="tab-selectors flex justify-stretch full-width mb-3">
                                {% for list in section_lists %}
                                <div class="tab-selector is-active fg-1 heavy-weight"
                                    data-tab="{{loop.index0}}"
                                    data-text="{{list.description}}"
                                    data-reasons="{% for item in list.items %}{{item.text}}|{% endfor %}"
                                >
                                    <button>{{list.title}}</button>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="tab-detail-wrapper">
                                <div class="tab-detail">
                                    <p class="py-1 lh-2 smaller-text clip-item"></p>
                                    <ul class="py-3">
                                        <li class="flex g-2 align-center my-2 ">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                            </svg>
                                            <span class="smaller-text">Fully Certified</span></li>
                                        <li class="flex g-2 align-center my-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                            </svg>
                                            <span class="smaller-text">2 Decades Experience</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                        <a href="{{url_for('main.about')}}" class="btn btn-primary btn-md py-3 mt-2 px-4">
                            <span>
                                Discover More
                            </span>
                             <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7M17 7H7M17 7V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <div class="label-img">
                        <img class="object-cover" src="{{ url_for('static', filename='img/placehold/2.jpg') }}" alt="{{section.title}}">

                        </div>
                        <p class="py-4 lh-2 smaller-text">Operating since 2002, we have the knowledge required for a variety of jobs.</p>
                        <div class="flex align-center g-3">
                            <span class="large-text heavier-weight lh-1">24</span>
                            <span class="heavy-weight spacedish-text">Years of<br> Experience</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section--dark">
        {% set section=page.section('home-featured-projects') %}
        <div class="content text-center">
            <span class="small-text spacedish-text  heavy-weight caps">{{ section.subtitle }}</span>
            <h3 class="semilarge-text mx-auto lh-1 heavy-weight">{{ section.title }}</h3>
            <div class="full-width overflow-x-auto py-4">
                <div class="flex g3 align-center g-3 py-4 justify-center sm-justify-start">
                    <button class=" fg-0 fs-0 btn btn-secondary btn-md justify-center text-center white-text">All ({{project_count}})</button><button class=" fg-0 fs-0 btn btn-secondary btn-md justify-center text-center">Conservatories</button><button class=" fg-0 fs-0 btn btn-secondary btn-md justify-center text-center">Garden Rooms</button>
                </div>
            </div>
        </div>
        {% include "fragments/card-carousel.html" %}
    </section>
    <section class="no-pad">
        <div class="grid col-2 sm-col-1 align-end">
            <div class="section--offwhite full-height grid align-end">

                <div class="flex col justify-end align-stretch content-left py-6">
                    
                    <span class="text-left title-text heavy-weight pt-3 pb-1">STEEL TILES</span>
                    <div class="grid col-2--left sm-col-1 g-2">
    
                        <p class="smaller-text ">High-quality steel tiles come as standard, and are made from lightweight steel in a choice of colours.</p>
                    </div>
                    <div class="overflow-x-auto">
                        <div class="flex g-3 full-width  pr-3 py-6 mb-3">
                            <div class="tile-img"> 
                                <img loading="lazy" class="object-cover" src="{{ url_for('static', filename='img/tiles/steel/charcoal.jpg') }}" />
                            </div>
                            <div class="tile-img"> 
                                <img loading="lazy" class="object-cover" src="{{ url_for('static', filename='img/tiles/steel/antique-red.jpg') }}" />
                            </div>
                            <div class="tile-img"> 
                                <img loading="lazy" class="object-cover" src="{{ url_for('static', filename='img/tiles/steel/burnt-umber.jpg') }}" />
                            </div>
                            <div class="tile-img"> 
                                <img loading="lazy" class="object-cover" src="{{ url_for('static', filename='img/tiles/steel/moss-green.jpg') }}" />
                            </div>
                            <div class="tile-img"> 
                                <img loading="lazy" class="object-cover" src="{{ url_for('static', filename='img/tiles/steel/ebony.jpg') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section--highlight">
                <div class="flex col justify-end content-right py-6" >
                    <span></span>
                    <img style="max-width:200px" src="/static/img/envirotile-logo.png"/>
                    <p class="heavy-weight lh-2 py-3" style="max-width:40ch">Smart sustainable roofing solutions  
that protect homes and the planet</p>
                    <span class="text-left title-text heavy-weight pt-3 pb-1">ENVIROTILE SLATE</span>
                    <div class="grid col-2--left sm-col-1 g-2">
    
                     <p class="smaller-text ">Recycled polymer lightweight roof tile with an interlocking 
                        system that makes your job easier.</p>
                    </div>
                    <div class="flex g-3 full-width  pr-3 py-6 mb-3">
                        <div class="tile-img">
                            <img loading="lazy" src="{{ url_for('static', filename='img/tiles/envirotile/terracotta.jpg') }}" class="object-cover" alt="Teracotta Envirotile" title="Terracotta">
                        </div>
                        <div class="tile-img">
                            <img loading="lazy" src="{{ url_for('static', filename='img/tiles/envirotile/dark-brown.jpg') }}" class="object-cover" alt="Dark Brown Envirotile" title="Dark Brown">
                        </div>
                        <div class="tile-img">
                            <img loading="lazy" src="{{ url_for('static', filename='img/tiles/envirotile/slate-grey.jpg') }}" class="object-cover" alt="Slate Grey Envirotile" title="Slate Grey">
                        </div>
                        <div class="tile-img">
                            <img loading="lazy" src="{{ url_for('static', filename='img/tiles/envirotile/anthracite-grey.jpg') }}" class="object-cover" alt="Anthracite Grey Envirotile" title="Anthracite Grey">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section--grey full-height grid align-end">

                <div class="flex col justify-end content-left py-6" >
                    <span class="text-left title-text heavy-weight pt-3 pb-1">COMPOSITE SLATE TILES</span>
                    <div class="grid col-2--left sm-col-1 g-2">

                        <p class="smaller-text ">Made from a recyclable mix of limestone and 
                            polypropylene, composite tiles offer traditional looks 
                            without risk of shattering, fading, warping or cracking.
                        </p>
                    </div>
                    <div class="overflow-x-auto">
                        <div class="flex flex-wrap g-3  pr-3 py-3">
                            <div class="tile-img">
                                <img loading="lazy" src="{{ url_for('static', filename='img/tiles/composite/brick-red.jpg') }}" class="object-cover" alt="Brick Red Composite Tile" title="Brick Red">
                            </div>
                            <div class="tile-img">
                                <img loading="lazy" src="{{ url_for('static', filename='img/tiles/composite/pewter-grey.jpg') }}" class="object-cover" alt="Pewter Grey Composite Tile" title="Pewter Grey">
                            </div>
                            <div class="tile-img">
                                <img loading="lazy" src="{{ url_for('static', filename='img/tiles/composite/stone-black.jpg') }}" class="object-cover" alt="Stone Black Composite Tile" title="Stone Black">

                            </div>
                            <div class="tile-img">
                                <img loading="lazy" src="{{ url_for('static', filename='img/tiles/composite/chestnut.jpg') }}" class="object-cover" alt="Chestnut Composite Tile" title="Chestnut">

                            </div>
                            <div class="tile-img">
                                <img loading="lazy" src="{{ url_for('static', filename='img/tiles/composite/plum.jpg') }}" class="object-cover" alt="Plum Composite Tile " title="Plum">

                            </div>
                            <div class="tile-img">
                                <img loading="lazy" src="{{ url_for('static', filename='img/tiles/composite/red-rock.jpg') }}" class="object-cover" alt="Red Rock Composite Tile" title="Red Rock">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="section--dark full-height grid align-end">

                <div class="flex col justify-end content-right py-6" >
                   <span class="text-left title-text heavy-weight py-3">SLATESKIN GRP SHEET TILES</span>
                    <div class="grid col-2--left sm-col-1 g-2">

                    <p class="smaller-text ">
                        The GRP sheet roof tile system that gives
                        a traditional slate-effect in half the time
                   </p>
                   </div>
                    <div class="flex g-3 full-width align-center  pr-3 pb-3 pt-6">
                        <div class="tile-img">
                                <img loading="lazy" src="{{ url_for('static', filename='img/tiles/slateskin/slate-grey.jpg') }}" class="object-cover" alt="">
                        </div>
                        <div class="info">
                            <p class="w-ch40 smaller-text">Please note: All our SlateSkin sheets come from pref-cut ready to-fit sheets</p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </section>
    <section>
        {% set section = page.section("home-compatible") %}
        <div class="content text-center">
            <span class="small-text spacedish-text  heavy-weight caps">{{ section.subtitle }}</span>
            <h3 class="semilarge-text mx-auto lh-1 heavy-weight">{{ section.title  }}</h3>
        </div>
        <div class="grid col-6 md-col-3 sm-col-1 mt-3 pt-3">
            {% set con_shapes = section.list_for('con-shapes') %}
            {% for item in con_shapes.items  %}
                {% set card = item %}
                {% include 'fragments/cards/light-card-long.html' %}
            {% endfor %}
        </div>

    </section>
      
    {% endblock body %}

    {% block extra_scripts %}
        <script src="/static/js/bl-slider.js"></script>

        <script>
            const carouselData = {{projects_data|safe}};
        </script>
        <script src="/static/js/carousel.js"></script>
        <script src="/static/js/quicktabs.js"></script>
    {% endblock extra_scripts %}