{% extends "base/base.html" %}


    {% block header %}
    {% set hdr = { 'color' : 'light', 'floating' : false } %}
    {% include "base/header.html" %}
    {% endblock header %}
    {% block hero %}
    <div class="hero hero-short">
        <div class="content flex col full-width full-height align-center text-center justify-center g-3 white-text">
            {% include 'base/breadcrumbs.html' %}
            <h1>{{page.body_title or 'Services'}}</h1>
            <div class="full-width">
                <div class="seperator seperator--highlight seperator--center mt-3 mb-3 mx-auto w-ch60 "></div>
            </div>
            <p class="mx-auto w-ch50 smaller-text lh-2">{{ page.body_intro }}</p>
        </div>
    </div>
    {% endblock hero %}
    {% block body %}
    <section>
        <div class="content grid col-3 md-col-2 sm-col-1 g-5">
            {% for service in services  %}
            <div class="card card--light card--light-1 p-4">
                <h4>{{service.title}}</h4>
                <div class="seperator seperator--darker my-3"></div>
                <p class="py-3">{{service.short_desc}}</p>
                <ul >
                    {% for text in service.benefits.text %}
                        <li class="flex g-2 align-center pb-2">
                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                        </svg>
                        <span>{{ text }}</span>
                        </li>
                        {% endfor %}
                </ul>
                <a class="btn btn-dark p-3 mt-3 justify-between" style href="">
                    <span>Explore</span>
                    <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section>
            <div class="section--dark content br-2 no-pad p-6 sm-p-3 full-width">
                <span class="small-text spacedish-text text-center mx-auto full-width  heavy-weight caps">WHY CHOOSE US</span>
                <h3 class="semilarge-text mx-auto lh-1 heavy-weight text-center pb-3">Your Trusted Extensions Partner.</h3>
                <p class="smaller-text spacedish text mx-auto text-center py-3">We beleive that every build is unique, and our approach keeps that in mind.</p>

                <div class="quicktabs-wrapper dark">
                
                     <div class="tab-selectors flex justify-center full-width g-3  mb-5 mt-3">
                        <div class="tab-selector is-active heavy-weight "
                            data-tab="0"
                            data-text="As active members of the Eurcell Group, We offer premium ranges of tiles offering the latest in temprature regulating technology."
                            data-reasons="Premium Materials|Industry Standard Tools|Best Practices|Industry Connections|Wide Range of Tiles|Multiple Glazing Options"
                            >
                            <button class="br-4 small-text px-3">Construction Quality</button>
                        </div>
                        <div class="tab-selector  heavy-weight" 
                            data-tab="1"
                            data-text="Our vision is to be the most trusted  impactful extension specialists in the south east, known for transforming external spaces."
                            data-reasons="South East Coverage|24/7 Contact Support"  
                        >
                            <button class="br-4 small-text px-3">Process Quality</button>
                        </div>
                        <div class="tab-selector  heavy-weight" 
                            data-tab="2"
                            data-text=""
                        >
                            <button class="br-4 small-text px-3">Certification &amp; Safety</button>
                        </div>
                    </div>
                <div class="seperator seperator--darker mt-3 mb-5"></div>

                    <div class="tab-detail-wrapper">
                        <div class="tab-detail grid col-2 sm-col-1 g-3">
                            <div></div>
                            <div>
                                <h3 class="text-left lh-2 light-weight" style="font-size:2rem;"></h3>
                                <p class="py-3 lh-2 smaller-text text-left w-ch60"></p>
                                <div class="seperator seperator--darker"></div>
                                <ul class="py-3 grid col-2 sm-col-1 g-2">
                                    <li class="flex g-2 align-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                        </svg>
                                        <span class="smaller-text">Fully Certified</span></li>
                                    <li class="flex g-2 align-center mt-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                        </svg>
                                        <span class="smaller-text">2 Decades Experience</span>
                                    </li>
                                    <li class="flex g-2 align-center mt-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                        </svg>
                                        <span class="smaller-text">2 Decades Experience</span>
                                    </li>
                                    <li class="flex g-2 align-center mt-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                        </svg>
                                        <span class="smaller-text">2 Decades Experience</span>
                                    </li>
                                    <li class="flex g-2 align-center mt-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                        </svg>
                                        <span class="smaller-text">2 Decades Experience</span>
                                    </li>
                                    <li class="flex g-2 align-center mt-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                        </svg>
                                        <span class="smaller-text">2 Decades Experience</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
        </section>
    <section>
        <div class="content text-center ">
            <span class="small-text spacedish-text  heavy-weight caps">OUR PROCESS</span>
            <h3 class="semilarge-text mx-auto lh-1 heavy-weight pb-3">Our Construction Work Process</h3>
            <p class="smaller-text spacedish text mx-auto text-center py-3">From brief to handover, we have a four point process that adhere to.</p>
        </div>
        <div class="grid content col-4 md-col-2 g-3 sm-col-1 pt-4">
            <div class="card card--light card--light-2 p-2 text-center">
                <div class="clip-img--rounded">
                </div>
                <div class="card-circle grid justify-center align-center heavier-weight average-text p-2">
                    <span>01</span>
                </div>
                <span class="heavy-weight medium-text">Planning &amp; Consultation</span>
                <p class="p-3">We operate around your needs and co-operate to create a working plan of action.</p>
            </div>
            <div class="card card--light card--light-2 p-2 text-center">
                <div class="clip-img--rounded">
                </div>
                <div class="card-circle grid justify-center align-center heavier-weight average-text p-2">
                    <span>02</span>
                </div>
                <span class="heavy-weight medium-text">Planning &amp; Consultation</span>
                <p class="p-3">We operate around your needs and co-operate to create a working plan of action.</p>
            </div>
            <div class="card card--light card--light-2 p-2 text-center">
                <div class="clip-img--rounded">
                </div>
                <div class="card-circle grid justify-center align-center heavier-weight average-text p-2">
                    <span>03</span>
                </div>
                <span class="heavy-weight medium-text">Planning &amp; Consultation</span>
                <p class="p-3">We operate around your needs and co-operate to create a working plan of action.</p>
            </div>
            <div class="card card--light card--light-2 p-2 text-center">
                <div class="clip-img--rounded">
                </div>
                <div class="card-circle grid justify-center align-center heavier-weight average-text p-2">
                    <span>04</span>
                </div>
                <span class="heavy-weight medium-text">Project Handover</span>
                <p class="p-3">We operate around your needs and co-operate to create a working plan of action.</p>
            </div>
        </div>
    </section>

    {% endblock body %}

    {% block extra_scripts %}

        <script src="/static/js/quicktabs.js"></script>
    {% endblock extra_scripts %}
