*, *::before, *::after {
    box-sizing:border-box;

}


/* Regular */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semi-Bold */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
    --ff-sans: 'Poppins', system-ui, sans-serif;
    --fs-base: 1rem;

    --ff-display: 'Bebas', sans-serif;
    /* Manrope-specific weights */
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    --desktop-break: 1290px;
    --tablet-break: 789px;
    --phone-break: 530px;  
    
    --clr-background: rgb(255, 255, 255);
    --clr-ink: rgb(12,12,12);
    --clr-primary: rgb(255, 216, 45);
    /*--clr-primary: #ffd82d; */
    --clr-grey: rgb(86, 86, 86);
    --clr-white-ink: rgb(255, 255, 255);
    --clr-grey-dark: rgb(52, 52, 52);
    --clr-grey-darker: rgb(49, 49, 49);
    --clr-grey-light: rgb(200, 200, 200);
    --clr-grey-lighter: rgb(230, 230, 230);
    --clr-offwhite : rgb(250,250,250);
    --clr-success: rgba(88, 149, 80, 0.7);
    --clr-error: rgb(178, 58, 58, .7);
    --blur-sm: 8px;
    --blur-md: 12px;
    --blur-lg: 16px;
    --blur-2xl: 40px;

    --space-1: 0.25rem; /*  4px */
    --space-2: 0.5rem;  /*  8px */
    --space-3: 1rem;    /* 16px */
    --space-4: 1.5rem;  /* 24px */
    --space-5: 2rem;    /* 32px */
    --space-6: 3rem;    /* 48px */
    --section-pad: 4rem;
    scrollbar-width: thin;
}


/* ============================================== MARGINS AND PADDINGS ========================================== */
/* All Sides */
.m-1 { margin: var(--space-1); }
    .m-2 { margin: var(--space-2); }
    .m-3 { margin: var(--space-3); }
    .m-4 { margin: var(--space-4); }
    .m-5 { margin: var(--space-5); }
    .m-6 { margin: var(--space-6); }
    .m-auto { margin: auto; }

    /* Top Only */
    .mt-1 { margin-top: var(--space-1); }
    .mt-2 { margin-top: var(--space-2); }
    .mt-3 { margin-top: var(--space-3); }
    .mt-4 { margin-top: var(--space-4); }
    .mt-5 { margin-top: var(--space-5); }
    .mt-6 { margin-top: var(--space-6); }

    /* Bottom Only */
    .mb-1 { margin-bottom: var(--space-1); }
    .mb-2 { margin-bottom: var(--space-2); }
    .mb-3 { margin-bottom: var(--space-3); }
    .mb-4 { margin-bottom: var(--space-4); }
    .mb-5 { margin-bottom: var(--space-5); }
    .mb-6 { margin-bottom: var(--space-6); }

    /* Left Only */
    .ml-1 { margin-left: var(--space-1); }
    .ml-2 { margin-left: var(--space-2); }
    .ml-3 { margin-left: var(--space-3); }
    .ml-4 { margin-left: var(--space-4); }
    .ml-5 { margin-left: var(--space-5); }
    .ml-6 { margin-left: var(--space-6); }

    /* Right Only */
    .mr-1 { margin-right: var(--space-1); }
    .mr-2 { margin-right: var(--space-2); }
    .mr-3 { margin-right: var(--space-3); }
    .mr-4 { margin-right: var(--space-4); }
    .mr-5 { margin-right: var(--space-5); }
    .mr-6 { margin-right: var(--space-6); }

    /* X-Axis (Left & Right) */
    .mx-1 { margin-inline: var(--space-1); }
    .mx-2 { margin-inline: var(--space-2); }
    .mx-3 { margin-inline: var(--space-3); }
    .mx-4 { margin-inline: var(--space-4); }
    .mx-5 { margin-inline: var(--space-5); }
    .mx-6 { margin-inline: var(--space-6); }
    .mx-auto { margin-inline: auto; }

    /* Y-Axis (Top & Bottom) */
    .my-1 { margin-block: var(--space-1); }
    .my-2 { margin-block: var(--space-2); }
    .my-3 { margin-block: var(--space-3); }
    .my-4 { margin-block: var(--space-4); }
    .my-5 { margin-block: var(--space-5); }
    .my-6 { margin-block: var(--space-6); }




    /* All Sides */
    .p-1 { padding: var(--space-1); }
    .p-2 { padding: var(--space-2); }
    .p-3 { padding: var(--space-3); }
    .p-4 { padding: var(--space-4); }
    .p-5 { padding: var(--space-5); }
    .p-6 { padding: var(--space-6); }

    /* Top Only */
    .pt-1 { padding-top: var(--space-1); }
    .pt-2 { padding-top: var(--space-2); }
    .pt-3 { padding-top: var(--space-3); }
    .pt-4 { padding-top: var(--space-4); }
    .pt-5 { padding-top: var(--space-5); }
    .pt-6 { padding-top: var(--space-6); }

    /* Bottom Only */
    .pb-1 { padding-bottom: var(--space-1); }
    .pb-2 { padding-bottom: var(--space-2); }
    .pb-3 { padding-bottom: var(--space-3); }
    .pb-4 { padding-bottom: var(--space-4); }
    .pb-5 { padding-bottom: var(--space-5); }
    .pb-6 { padding-bottom: var(--space-6); }

    /* Left Only */
    .pl-1 { padding-left: var(--space-1); }
    .pl-2 { padding-left: var(--space-2); }
    .pl-3 { padding-left: var(--space-3); }
    .pl-4 { padding-left: var(--space-4); }
    .pl-5 { padding-left: var(--space-5); }
    .pl-6 { padding-left: var(--space-6); }

    /* Right Only */
    .pr-1 { padding-right: var(--space-1); }
    .pr-2 { padding-right: var(--space-2); }
    .pr-3 { padding-right: var(--space-3); }
    .pr-4 { padding-right: var(--space-4); }
    .pr-5 { padding-right: var(--space-5); }
    .pr-6 { padding-right: var(--space-6); }

    /* X-Axis (Left & Right) */
    .px-1 { padding-inline: var(--space-1); }
    .px-2 { padding-inline: var(--space-2); }
    .px-3 { padding-inline: var(--space-3); }
    .px-4 { padding-inline: var(--space-4); }
    .px-5 { padding-inline: var(--space-5); }
    .px-6 { padding-inline: var(--space-6); }

    /* Y-Axis (Top & Bottom) */
    .py-1 { padding-block: var(--space-1); }
    .py-2 { padding-block: var(--space-2); }
    .py-3 { padding-block: var(--space-3); }
    .py-4 { padding-block: var(--space-4); }
    .py-5 { padding-block: var(--space-5); }
    .py-6 { padding-block: var(--space-6); }

    .g-1 {gap:var(--space-1);}
    .g-2 {gap:var(--space-2);}
    .g-3 {gap:var(--space-3);}
    .g-4 {gap:var(--space-4);}
    .g-5 {gap:var(--space-5);}
    .g-6 {gap:var(--space-6);}
    
    .br-1 {border-radius:var(--space-1);}
    .br-2 {border-radius:var(--space-2);}
    .br-3 {border-radius:var(--space-3);}
    .br-4 {border-radius:var(--space-4);}
    .br-5 {border-radius:var(--space-5);}
    .br-6 {border-radius:var(--space-6);}

    .btlr-1 {border-top-left-radius:var(--space-1);}
    .btlr-2 {border-top-left-radius:var(--space-2);}
    .btlr-3 {border-top-left-radius:var(--space-3);}
    .btlr-4 {border-top-left-radius:var(--space-4);}
    .btlr-5 {border-top-left-radius:var(--space-5);}
    .btlr-6 {border-top-left-radius:var(--space-6);}

    .btrr-1 {border-top-right-radius:var(--space-1);}
    .btrr-2 {border-top-right-radius:var(--space-2);}
    .btrr-3 {border-top-right-radius:var(--space-3);}
    .btrr-4 {border-top-right-radius:var(--space-4);}
    .btrr-5 {border-top-right-radius:var(--space-5);}
    .btrr-6 {border-top-right-radius:var(--space-6);}
    
    .bblr-1 {border-bottom-left-radius:var(--space-1);}
    .bblr-2 {border-bottom-left-radius:var(--space-2);}
    .bblr-3 {border-bottom-left-radius:var(--space-3);}
    .bblr-4 {border-bottom-left-radius:var(--space-4);}
    .bblr-5 {border-bottom-left-radius:var(--space-5);}
    .bblr-6 {border-bottom-left-radius:var(--space-6);}

    .bbrr-1 {border-bottom-right-radius:var(--space-1);}
    .bbrr-2 {border-bottom-right-radius:var(--space-2);}
    .bbrr-3 {border-bottom-right-radius:var(--space-3);}
    .bbrr-4 {border-bottom-right-radius:var(--space-4);}
    .bbrr-5 {border-bottom-right-radius:var(--space-5);}
    .bbrr-6 {border-bottom-right-radius:var(--space-6);}


    .z-3 {
        z-index:3;
    }

    /* ============================================== END MARGINS AND PADDINGS ========================================== */



.display-text {
    text-transform: uppercase;
    line-height: 1;
    font-family: var(--ff-display);

}
.white-text {
    color: var(--clr-white-ink);
}
.grey-text {
    color: var(--clr-grey);

}
.highlight-text {
    color: var(--clr-primary);

}
.x-large-text {
    font-size:5rem;
    max-width:10ch;
}
.large-text {
    font-size: 3.7rem;
    max-width: 33ch;
}
.semilarge-text {
    font-size:3rem;
    max-width: 23ch;
}

.title-text {
    font-size:2rem;
}

.average-text {
    font-size: 1.5rem
}
.medium-text {
    font-size:1.2rem;
}
.normal-text {
    font-size:1rem;
}
.smaller-text {
    font-size:.9rem;
}
.small-text {
    font-size:.8rem;
}
.smallest-text {
    font-size:.65rem;
}
.spaced-text {
    letter-spacing: 0.125rem;
}
.spacedish-text {
    letter-spacing:0.025rem;
}
.caps-text {
    text-transform: uppercase;
}
.lh-1 {line-height: 1.1;}
.lh-2 {line-height: 1.5}
.lh-3 {line-height: 2}
.w-ch60 {
    max-width:60ch;
}
.w-ch50 {
    max-width:50ch;
}
.w-ch40 {
    max-width:40ch;
}

.heavy-weight {
    font-weight: var(--fw-semibold);
}
.heavier-weight {
    font-weight: var(--fw-bold);
}
.heaviest-weight {
    font-weight: var(--fw-extrabold);
}

.normal-weight {
    font-weight: var(--fw-normal);
}
.light-weight {
    font-weight: var(--fw-light);
}
.text-center {
    text-align: center;
}
.text-right {
    text-align:right;
}
.text-left {
    text-align:left;
}
.wrap-pretty {
    text-wrap: balance;
}




@keyframes messageFadeOut {
    100% {
        opacity: 0;
        translate: 50% 0;
    }
}


@starting-style {
    .message-list .message {

        opacity:0;
        translate: -50% 0;
    }
}


.message-list {
    position: fixed;
    top:7rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;
    z-index:999;
    
    & .message {
        padding:1rem;
        max-width:min(100%, 350px);
        font-size:.9rem;
        font-weight: var(--fw-semibold);
        color:var(--color-white);
        opacity:1;
        translate:0 0;
        transition: .3s ease-in;
        backdrop-filter: blur(var(--blur-2xl));
        border-radius: .5rem;
        &.message-success {
            background-color:var(--color-success);
        }
        &.message-error {
            background-color: var(--color-error);
        }
        &.fade-out {
            animation: messageFadeOut 1s 0s  forwards ease-out;
        }
        
    }
}


@keyframes spin {
    100% {
        rotate:360deg;
    }
}


.spinner {
    position:absolute;
    width:100%;
    height:100%;
    top:0; left:0;
    display:grid; 
    align-items: center;
    justify-content: center;
    &[hidden] {
        display:none;
    }
    & svg {
        width:50px;
        height:50px;
    }
    &.spin svg {
        animation: spin .7s ease-in-out infinite;
    }

}

h1,h2,h3,h4,h5,h6,section, div, table, ul, li, p {
    margin:0;
    padding:0;
}
section:not(.no-pad) {
    padding-block:var(--section-pad);
}
section.section--dark, div.section--dark {
    background-color: var(--clr-grey-darker);
    color: var(--clr-white-ink);
}
section.section--offwhite, div.section--offwhite {
    background-color: var(--clr-offwhite);
}

section.section--grey, div.section--grey {
    background-color: var(--clr-grey-light);

}

section.section--highlight, div.section--highlight {
    background-color: var(--clr-primary);
}
p {
    font-weight: var(--fw-light);
    line-height:2;
}
a {
    all:unset;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button {
    cursor:pointer;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


details {
    border: 1px solid rgba(200,200,200, .3);
    border-radius: var(--space-2);
    padding:1rem;
    margin-bottom: .75rem;;
    position: relative;
}
summary {
    width:100%;
    padding-bottom:1rem;
    font-weight: var(--fw-bold);
}



body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;

  color: var(--clr-ink);
  background-color: var(--clr-background);
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  -webkit-font-smoothing: antialiased;
  padding:0;
  margin:0;
}

.pre-header {
    background-color: var(--clr-primary);
    color:var(--clr-ink);

}
.pre-header a {
    cursor:pointer;
}

header {
   
    width:100%;
    margin-inline:auto;
    z-index:10;
}
header.floating-header {
    position:absolute; 
    top:0rem; 
    left:0; 
    right:0; 
    padding:1rem;
}
.desktop-nav {
    width:100%; 
    margin-inline:auto; 
    background-color:var(--clr-white-ink);
    color:var(--clr-ink);
    
    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding:1rem 2.5rem;
}
header:not(.floating-header) .desktop-nav {
    border-bottom:1px solid rgba(200,200,200, .3);
}
header.header-dark .header-logos {
    color:var(--clr-white-ink);
}
header.header-dark .desktop-nav {
    background-color: var(--clr-grey-dark);
    color:var(--clr-white-ink);


}
header.floating-header .desktop-nav {
    
    border-radius:var(--space-3);
}
.header-logo-wrapper a {
    cursor:pointer;
}
.header-logo-wrapper svg {
    width:180px;
}
.header-logo {
    max-width:100px;
}

.desktop-nav button#nav-drawer-toggle {
    flex-grow: 0;
    width:unset;
    border-radius:50%;
    stroke:var(--clr-ink);
    color:var(--clr-ink);
}
header.header-dark .desktop-nav button#nav-drawer-toggle {
    stroke:var(--clr-white-ink);
    color:var(--clr-white-ink);
}
.desktop-nav-pages {
    display:flex; 
    justify-content: center;
    gap:2rem;
    flex-grow:1;

    font-weight:var(--fw-semibold);
}

.nav-link {
    cursor:pointer;
    transition: color .3s ease-out;
}
.nav-link:hover {
    color:var(--clr-grey-light);
}
.nav-link.nav-link--active {
    color:var(--clr-primary);
}

.nav-drawer {
    border-top:1px solid var(--color-border-grey);
    background-color: var(--clr-grey-dark);

    color:var(--clr-white-ink);
    display:unset;
    width:min(100%, 350px);
    transition: translate .4s ease-out, opacity .4s ease-out;
    translate: 0 0;
    opacity:1;
    position: fixed;
    top:0;
    right:0;
    height:100%;
    max-height:100%;
    z-index:1002;
    padding-block:1rem;
    & button {
        border:none; 
        padding:1rem;
        background-color: transparent;
    }
    & .menu__body {
        display:grid; 
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        width:100%;
        height:100%;
        gap:1rem;
        justify-content: start;
        counter-reset: links 0;
        & li {
            position: relative;
            overflow:clip;
            & a {
                transform: translateY(0);
                font-size:1.7rem;
                font-weight: bold;
                padding-left:2rem;
                padding-block:1.15rem;
            }
        
            &::before {
                counter-increment: links;
                content: '0' counter(links) '.';
                position:absolute; 
                left:0; 
                top:.95rem;
                font-weight:var(--fw-semibold);
                font-size:.8rem;
            }
        }
    }
    
}

.underlay {
    position:fixed; 
    width:100%; 
    height:100%; 
    z-index:1001; 
    opacity:1;
    top:0;
    right:0;
    background-color:rgba(0,0,0,0.6);
    transition: width .4s ease-out, opacity .4s ease-out;
}


.nav-drawer.hide {
    translate: 100% 0;
    opacity:0;
    transition: translate .4s .3s ease-out, opacity .4s ease-out;
    & li a {
        transform: translateY(-100%);
        transition: transform .3s .2s ease-out;
    }


}

.nav-drawer.no-display {
    display:none;
    
}
.nav-drawer.no-display ~ .underlay {
    width:0%;
    opacity:0;
}

.nav-drawer-toggle:focus {
    outline: 1px solid var(--color-gold);
    outline-offset: .5rem;
}

#nav-drawer-close {
    background-color:var(--clr-primary);
}


footer {
    background-color: var(--clr-grey-dark);
    color:var(--clr-white-ink);
    container-name: footer;
    container-type:inline-size;
    padding-inline:1rem;
}

.footer__content {
    padding-block:2rem;
    display:grid;
    grid-template-columns: 350px 1fr;
    gap:1.5rem;
    max-width:var(--desktop-break);
    margin-inline: auto;
}.footer__section--left {
    border-right:1px solid rgba(170,170,170, .2);
    padding-right:1rem;
}
footer img {
    max-width:200px;
}

.footer__badges img {
 max-width:80px;
}

@container footer (width < 1190px) {
    .footer__content {
        grid-template-columns: 1fr;
    }
}

input,
button,
textarea,
select {
  font: inherit;
  width:100%;
  padding:.5rem; 

  color:var(--clr-ink);
  position:relative;
    background-color:transparent;
  border:.0125rem solid var(--clr-ink);
  color:var(--clr-ink);
  
  &::placeholder {
    color: var(--clr-grey);
  }
  &.disabled {
    opacity:.3;
    pointer-events: none;
    cursor: not-allowed;
  }
  &.floating-label ~ label {
    position:absolute; 
    top:.5rem;
    left:1rem;
    transition: .3s ease;
    pointer-events: none;
  }
  &.floating-label:focus  ~ label,
&.floating-label:user-valid ~ label,
&.floating-label:autofill ~ label
{
    top:-.2rem;
    font-size:.7rem;
    left:.6rem;
  }

}
label {
    color:#777;
}
form:has(.floating-label) .form-control {
    position:relative;
    margin-top:.251rem;
}

.form-control {
    position:relative;
}

.form-control {
    background-color:var(--clr-white-ink);
}

.form-control input {
    border:none;
}

.form-control button {
    width:48px;
    height:48px;
    border:none; 
    background-color: transparent;
}




button:disabled {
    opacity:.3;
}


.btn {
    display:flex; 
    align-items: center;
    flex-wrap: nowrap;
    gap:.75rem;
    border-radius:var(--space-1);
    cursor:pointer;
}
.btn.btn-primary {
    background-color:var(--clr-primary);
    color:var(--clr-ink);  
    font-weight: var(--fw-semibold);
}
.btn.btn-secondary {
    background-color: transparent;
    border-color:var(--clr-grey-light);
    color:var(--clr-white-ink);
}
.btn.btn-highlight {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
    color: var(--clr-ink);
}
.btn.btn-clear {
    background-color: transparent;
    border-color: transparent;
    color:inherit;
}
.btn.btn-dark {
    background-color: var(--clr-ink);
    border-color: var(--clr-ink);
    color: var(--clr-white-ink);
}
.btn.btn-light {
    background-color: var(--clr-grey-lighter);
    border-color: var(--clr-grey-light);
    color: var(--clr-ink);
    border-width: 2px;
    border-style:solid;
}
.btn.btn-md {
    max-width:150px;
}
.content {
    max-width: var(--desktop-break);
    margin-inline:auto;
    padding-inline:.75rem;
    

}
.content-left {
    max-width: calc(var(--desktop-break) / 2);
    margin-left:auto;
    padding-inline:.75rem;
    position:relative;

}
.content-right {
    max-width: calc(var(--desktop-break) / 2);
    width:100%;
    margin-right:auto;
    padding-inline:.75rem;
    padding-left:4rem;
    position:relative;

}
.overflow-x-auto {
    overflow-x: auto;
    max-width:100%;
}

.breadcrumbs li:not(:last-of-type) {
    position:relative;
    &::after {
        content : '>';
        position: absolute;
        right:-1.25rem; 
        top:0.25;

    
    }
}
.progress-wrapper {
  

}

.progress-container {
    width:100%;
    background-color: var(--clr-grey-light);
    height:6px;
    position: relative;
}
.progress-progress {
    width: var(--destination, 0);
    background-color: var(--clr-primary);
    height:100%;
}


.seperator {
    width:100%; 
    height:1px;
    position: relative;
    background-color: rgba(250,250,250, 0.5);
    &::after {
        content: '';
        position:absolute; 
        left:.5rem; 
        top: -2px; 
        width:25%;
        height:4px;
        border-radius: 2px;;
    }
}
.seperator.seperator--light {
    &::after {
    background-color: rgb(250,250,250);

    }
}


.seperator.seperator--darker {
    background-color: var(--clr-grey);
}

.seperator.seperator--highlight::after {
    background-color: var(--clr-primary);
   
}
.seperator.seperator--noline {
    background-color: transparent;
}
.seperator.seperator--left::after {
    left:0;
}
.seperator.seperator--right::after {
    right:0;
}
.seperator.seperator--center::after {left:37.5%; width:25%}

.hero.hero-short {
    height:400px;
    background-color: var(--clr-grey-light);
    position:relative;
    padding:1rem;
    overflow: hidden;
}
.hero.hero-white {
    background-color: var(--clr-white);
}
.object-cover {
    position:absolute; 
    object-fit: cover;
    top:0;
    left:0; 
    width:100%; 
    height:100%; 
    z-index:1;
}
.hero .object-cover {
    /* filter:blur(2px); */
    

}

.overlay {
        position: absolute;
        top:0; left:0;
        width:100%; height:100%;
        background:radial-gradient(circle, rgba(79,79,79, .8)0%, rgba(79,79,79, 0) 42%);
        z-index:2;
        backdrop-filter: blur(3px);
        
    }

.card {
    position:relative;

}
.card.card--dark {
    background-color: var(--clr-grey-darker);
    color:var(--clr-white-ink);

}
.card.card--light {
    background-color: transparent;
    border:1px solid rgba(170,170,170, .2);

}
.card.card--light.card--light-1 {
    background-color: var(--clr-white-ink);
}
.card.card--light.card--light-2 {
    background-color: var(--clr-grey-lighter);
}
.card.card--img {
    aspect-ratio: 3/4;
    display:grid; 
    grid-template-columns: 1fr;
    align-items: end;
    justify-content: stretch;
    border-radius: .75rem;
    overflow: clip;
}
.card.card--img .card-body {
    position:relative;
    background-color: var(--clr-grey-lighter);
    transition: .3s ease-out;
    z-index: 2;
}

.card-body.card-body--displace {
    transform: translateY(50%);
    will-change: transform;
}
.card.card--img:hover .card-body {
    background-color: var(--clr-primary);
    &.card-body--displace {
        transform:translateY(0);
    }

}

.card-circle {
    transform: translateY(-50%);
    background-color:var(--clr-background);
    aspect-ratio: 1 / 1;
    margin-inline: auto;
    width:85px;
    border-radius: 50%;
    margin-bottom: -10%;
}


.display-block {
    display:block;
}

.grid {
    display:grid;
}
.full-width {
    width:100%;
}
.full-height {
    height:100%;
}
.flex {
    display: flex;

}
.block {
    display:block;
}
.flex.col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap:wrap;
}
.fg-1 {
    flex-grow:1;
}
.fg-0 {flex-grow:0}

.fs-1 {flex-shrink: 1;}
.fs-0 {flex-shrink: 0;}

.justify-center {
        justify-content: center;
    }
.justify-between {
    justify-content: space-between;
}
.justify-stretch {
    justify-content: stretch;
}
.justify-end {
    justify-content: end;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items:start;
}
.align-end {
    align-items: end;
}
.align-stretch {
    align-items: stretch;
}
.grid.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid.col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid.col-2--right {
    grid-template-columns: .45fr .65fr;

}
.grid.col-2--left {
    grid-template-columns: .65fr .45fr;

}
.grid.col-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid.col-6 {
    grid-template-columns: repeat(6, 1fr);
}

.span-2 {
    grid-column: span 2;
}

.relative {
    position: relative;
}


.z-2 {
    z-index:2;
}

.z-1 {
    z-index:1;

}

.card-img {
    width:100%;
    height:100%;
    background-color: var(--clr-grey);
    position: absolute;
    z-index:1;

}
.card:has(.card-img) .object-cover {
    transition: scale 1s ease-out;
}
.card:has(.card-img):hover .object-cover{
    scale:1.1;
    transition: scale 5s ease-out;

}
.card-img--alt {
    width:100%;
    aspect-ratio: 2 /1;
    position: relative;
    background-color: var(--clr-grey);
    z-index:1;
}

.label-img {
    width:100%; 
    aspect-ratio: 16/ 6.5;
    border-radius:var(--space-2);
    background-color: var(--clr-grey);
    position:relative;
    overflow: clip;
}
.poster-img {
    width:100%;
    height:100%;
    border-radius:var(--space-2);
    position:relative;
    background-color: var(--clr-grey);
    overflow: clip;

}
.strip-img {
    width:100%;
    height:400px;
    position:relative;
    background-color: var(--clr-grey);
    overflow: clip;

  
}

.screen-img {
     width:100%;
     max-width: 520px;
    height:250px;
    border-radius:var(--space-2);
    position:relative;
    background-color: var(--clr-grey);
    overflow: clip;
}

.post-img {
    width:100%; 
    background-color: var(--clr-grey);
    width:100%;
    aspect-ratio: 16/9;
    position:relative;
    overflow: clip;

}

.tile-img {
    width:50px;
    height:50px; 
    background-color: var(--clr-grey);
    position: relative;
}

.clip-img--rounded {
    --height: 140px;
    --br: --height / 2;
    width:100%;
    height:var(--height);
    border-radius:70px 0px 0px 70px;
    background-color: var(--clr-grey-dark);
    position:relative;
    overflow: clip;
}


.card:has(>.clip-img--rounded) {
    border-top-left-radius: 80px;
}

.quicktabs-wrapper.light .tab-selector button {
    border-top:none;
    border-inline: none;
    border-bottom:1px solid var(--clr-grey-light);
    position: relative;
}
.quicktabs-wrapper.light .tab-selector button::after {
    content: '';
    width:50%; 
    height:0px;
    border-radius:2px;
    position:absolute;
    bottom:-1.5px; 
    left:25%;
    background-color: var(--clr-grey-light);
}
.quicktabs-wrapper.light .tab-selector button:hover::after {
    height:2px;
}

.quicktabs-wrapper.light .tab-selector.is-active button::after{
    height:2px;
    background-color: var(--clr-primary);

}

.quicktabs-wrapper.dark .tab-selector button {
    border-color:var(--clr-grey-light);
    color:var(--clr-grey-light);
    border-width: 2px;
    transition: color .3s ease-out, border-color .3s ease-out, background-color .3s ease-out;
}

.quicktabs-wrapper.dark .tab-selector button:hover {
    color:var(--clr-primary);
    border-color: var(--clr-primary);
}


.quicktabs-wrapper.dark .tab-selector.is-active button {
    background-color: var(--clr-primary);
    border-color:var(--clr-primary);
    color:var(--clr-ink);
}


.comparrison-wrapper {
    max-width:1024px; 
    margin-inline: auto;
}
.comparrison-wrapper table {
    position:relative;
    border-spacing: 0;
}
table.comparrison, table.comparrison tr , table.comparrison.td, table.comparrison.th {
    border:1px solid rgba(200,200,200, .3);
    border-collapse: collapse;
    
}

table.comparrison tr:nth-of-type(odd) td {
    background-color: var(--clr-background);
}

table.comparrison tr:nth-of-type(even) {
    background-color: var(--clr-grey-lighter);
}
table.comparrison td {
    padding:.75rem .5rem;
    z-index:1;
}
table.comparrison td svg {
    scale:1.4;
}
table.comparrison td:nth-of-type(2) {
    background-color:var(--clr-grey-dark) !important;
    color: var(--clr-primary) !important;
}
table.comparrison td:nth-of-type(1) {
    position:sticky;
    background-color:inherit;
    left:0;
    z-index:2;
    min-width:250px;
}
table.comparrison tr th {
    background-color: var(--clr-primary);
    color:var(--clr-white);
    z-index:3;
    position: sticky;
    padding:.5rem;
    text-transform: uppercase;
    top:0rem;
    & th {
        padding:1rem;
    }
}


.reviews-viewbox {
    overflow-x: scroll;
    width:100%;
    position:relative;
    scrollbar-width:none;
    margin-top:3rem;
    
}
.reviews-scrollbox {
    display: flex; 
    gap:1rem;
}
.review-icon-block, .icon-block {
    width:50px;
    aspect-ratio: 1/1;
    border-radius: var(--space-1);
    background-color:var(--clr-grey-darker);
    flex-shrink:0;

}
.review-stars {
    color:var(--clr-primary);
}
.review-card-header {
    border-bottom:1px solid rgba(170,170,170, .2);
}

.review-text {
    position:relative; 

}

.review-text q::before, .review-text q::after {

    font-size:5rem;
    position:absolute; 
    opacity:.1;
    line-height: 1;
}
.review-text q::before {
    content: '“';
    top: 0; left:0;
}
.review-text q::after {
    content: '„';
    bottom:0; right:0;
}

.small-square.small-square--primary {
    width:9px;
    height:9px; background-color:var(--clr-primary);
} 


.clip-item {
    opacity:0;
    transform:translateX(50%);
    clip-path:inset(0 100% 0 0);
    transition: opacity .45s var(--transition-delay, .5s) ease-out,
     transform .45s var(--transition-delay, .5s) ease-out,
      clip-path .3s var(--transition-delay, .5s) ease-out;

}
.fade-up-item, .fade-left-item {
    opacity:0;
    transition: opacity var(--transition-duration, .45s) var(--transition-delay, .5s) ease-out, transform var(--transition-duration, .45s) var(--transition-delay, .5s) ease-out;
    
}
.fade-up-item {
    transform:translateY(20%);

}
.fade-left-item {
    transform:translateX(20%);
}
.fade-up-item.is-visible, .fade-left-item.is-visible {
    opacity: 1; 
     @starting-style {
        opacity:0;
    }
}

.fade-up-item.is-visible {
    transform:translateY(0);
    @starting-style {
        transform:translateY(20%);

    }

}
.fade-left-item.is-visible {
    transform:translateX(0);
    @starting-style {
        transform:translateX(20%);

    }

}

.clip-item.is-visible {
    opacity: 1; 
    transform:translateX(0);
    clip-path:inset(0 0 0 0);
    @starting-style {
        opacity:0;
        transform:translateX(50%);
        clip-path:inset(0 100% 0 0);
    }

}

@keyframes ImageMapMarker {
    from {
        r:3;
        stroke-width:.05;
        opacity:1;

    } to {
        stroke-width:.5;
        r:7.5;
        opacity:0;
    }
}

@keyframes MobileImageMapMarker {
    from {
        r:5;
        stroke-width:.05;
        opacity:1;

    } to {
        stroke-width:.5;
        r:12.5;
        opacity:0;
    }
}


.mapped-img img {
    filter: drop-shadow(40px 40px 40px rgba(0,0,0,0.4));
}
.mapped-img circle {
    r: 3;
    position:relative;
    transform-origin: 50% 50% ;
    animation: ImageMapMarker 1.5s 1.2s infinite ease-in-out;
    cursor:pointer;
}

@media (max-width:1024px) {
    .grid.md-col-2 {
        grid-template-columns: 1fr 1fr;
    }
     .grid.md-col-1 {
        grid-template-columns: 1fr;
    }
    .grid.md-col-3 {
        grid-template-columns: 1fr 1fr 1fr;

    }
    .md-hide {
        display:none; 
        visibility:hidden;
    }
    .content-right {
        padding-left:.75rem;
    }
    .comparrison-wrapper {
        max-width:100%;
        overflow-x: auto;
    }
}

@media (max-width: 586px) {
    :root {
        --section-pad: 2rem;
    }
    .sm-hide {
        display:none;
        visibility: hidden;
    }
    .grid.sm-col-1 {
        grid-template-columns: 1fr;
    }
    header.floating-header .desktop-nav {
    
    border-radius:var(--space-1);
    }
    .semilarge-text {
        font-size:2rem;
        max-width: 25ch;
    }
    footer {
        text-align:center;
    }
    footer .seperator.seperator--left::after {
        left:37.5%; width:25%
    }

    .sm-justify-start {
        justify-content: start;
    }

    .sm-mr-0 {
        margin-right:0;
    }
    .mapped-img circle {
        r: 10;
        animation-name: MobileImageMapMarker;
    }

    .header-logo-wrapper svg {
    width:120px;
}
.footer__content img {
    margin-inline:auto;
}

}


