*, *::before, *::after {
    box-sizing:border-box;

}


/* Regular */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semi-Bold */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
    --ff-sans: 'Poppins', system-ui, sans-serif;
    --fs-base: 1rem;

    --ff-display: 'Bebas', sans-serif;
    /* Manrope-specific weights */
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    --desktop-content: 1290px;
    
    --clr-background: rgb(255, 255, 255);
    --clr-ink: rgb(12,12,12);
    --clr-primary: rgb(255, 216, 45);
    --clr-grey: rgb(86, 86, 86);
    --clr-white-ink: rgb(255, 255, 255);
    --clr-grey-dark: rgb(52, 52, 52);
    --clr-grey-darker: rgb(49, 49, 49);
    --clr-grey-light: rgb(200, 200, 200);
    --clr-grey-lighter: rgb(230, 230, 230);
    --clr-offwhite : rgb(250,250,250);
    --clr-success: rgba(88, 149, 80, 0.7);
    --clr-error: rgb(178, 58, 58, .7);
    --blur-sm: 8px;
    --blur-md: 12px;
    --blur-lg: 16px;
    --blur-2xl: 40px;

    --space-1: 0.25rem; /*  4px */
    --space-2: 0.5rem;  /*  8px */
    --space-3: 1rem;    /* 16px */
    --space-4: 1.5rem;  /* 24px */
    --space-5: 2rem;    /* 32px */
    --space-6: 3rem;    /* 48px */
    --section-pad: 4rem;
}


/* ============================================== MARGINS AND PADDINGS ========================================== */
/* All Sides */
.m-1 { margin: var(--space-1); }
    .m-2 { margin: var(--space-2); }
    .m-3 { margin: var(--space-3); }
    .m-4 { margin: var(--space-4); }
    .m-5 { margin: var(--space-5); }
    .m-6 { margin: var(--space-6); }
    .m-auto { margin: auto; }

    /* Top Only */
    .mt-1 { margin-top: var(--space-1); }
    .mt-2 { margin-top: var(--space-2); }
    .mt-3 { margin-top: var(--space-3); }
    .mt-4 { margin-top: var(--space-4); }
    .mt-5 { margin-top: var(--space-5); }
    .mt-6 { margin-top: var(--space-6); }

    /* Bottom Only */
    .mb-1 { margin-bottom: var(--space-1); }
    .mb-2 { margin-bottom: var(--space-2); }
    .mb-3 { margin-bottom: var(--space-3); }
    .mb-4 { margin-bottom: var(--space-4); }
    .mb-5 { margin-bottom: var(--space-5); }
    .mb-6 { margin-bottom: var(--space-6); }

    /* Left Only */
    .ml-1 { margin-left: var(--space-1); }
    .ml-2 { margin-left: var(--space-2); }
    .ml-3 { margin-left: var(--space-3); }
    .ml-4 { margin-left: var(--space-4); }
    .ml-5 { margin-left: var(--space-5); }
    .ml-6 { margin-left: var(--space-6); }

    /* Right Only */
    .mr-1 { margin-right: var(--space-1); }
    .mr-2 { margin-right: var(--space-2); }
    .mr-3 { margin-right: var(--space-3); }
    .mr-4 { margin-right: var(--space-4); }
    .mr-5 { margin-right: var(--space-5); }
    .mr-6 { margin-right: var(--space-6); }

    /* X-Axis (Left & Right) */
    .mx-1 { margin-inline: var(--space-1); }
    .mx-2 { margin-inline: var(--space-2); }
    .mx-3 { margin-inline: var(--space-3); }
    .mx-4 { margin-inline: var(--space-4); }
    .mx-5 { margin-inline: var(--space-5); }
    .mx-6 { margin-inline: var(--space-6); }
    .mx-auto { margin-inline: auto; }

    /* Y-Axis (Top & Bottom) */
    .my-1 { margin-block: var(--space-1); }
    .my-2 { margin-block: var(--space-2); }
    .my-3 { margin-block: var(--space-3); }
    .my-4 { margin-block: var(--space-4); }
    .my-5 { margin-block: var(--space-5); }
    .my-6 { margin-block: var(--space-6); }




    /* All Sides */
    .p-1 { padding: var(--space-1); }
    .p-2 { padding: var(--space-2); }
    .p-3 { padding: var(--space-3); }
    .p-4 { padding: var(--space-4); }
    .p-5 { padding: var(--space-5); }
    .p-6 { padding: var(--space-6); }

    /* Top Only */
    .pt-1 { padding-top: var(--space-1); }
    .pt-2 { padding-top: var(--space-2); }
    .pt-3 { padding-top: var(--space-3); }
    .pt-4 { padding-top: var(--space-4); }
    .pt-5 { padding-top: var(--space-5); }
    .pt-6 { padding-top: var(--space-6); }

    /* Bottom Only */
    .pb-1 { padding-bottom: var(--space-1); }
    .pb-2 { padding-bottom: var(--space-2); }
    .pb-3 { padding-bottom: var(--space-3); }
    .pb-4 { padding-bottom: var(--space-4); }
    .pb-5 { padding-bottom: var(--space-5); }
    .pb-6 { padding-bottom: var(--space-6); }

    /* Left Only */
    .pl-1 { padding-left: var(--space-1); }
    .pl-2 { padding-left: var(--space-2); }
    .pl-3 { padding-left: var(--space-3); }
    .pl-4 { padding-left: var(--space-4); }
    .pl-5 { padding-left: var(--space-5); }
    .pl-6 { padding-left: var(--space-6); }

    /* Right Only */
    .pr-1 { padding-right: var(--space-1); }
    .pr-2 { padding-right: var(--space-2); }
    .pr-3 { padding-right: var(--space-3); }
    .pr-4 { padding-right: var(--space-4); }
    .pr-5 { padding-right: var(--space-5); }
    .pr-6 { padding-right: var(--space-6); }

    /* X-Axis (Left & Right) */
    .px-1 { padding-inline: var(--space-1); }
    .px-2 { padding-inline: var(--space-2); }
    .px-3 { padding-inline: var(--space-3); }
    .px-4 { padding-inline: var(--space-4); }
    .px-5 { padding-inline: var(--space-5); }
    .px-6 { padding-inline: var(--space-6); }

    /* Y-Axis (Top & Bottom) */
    .py-1 { padding-block: var(--space-1); }
    .py-2 { padding-block: var(--space-2); }
    .py-3 { padding-block: var(--space-3); }
    .py-4 { padding-block: var(--space-4); }
    .py-5 { padding-block: var(--space-5); }
    .py-6 { padding-block: var(--space-6); }

    .g-1 {gap:var(--space-1);}
    .g-2 {gap:var(--space-2);}
    .g-3 {gap:var(--space-3);}
    .g-4 {gap:var(--space-4);}
    .g-5 {gap:var(--space-5);}
    .g-6 {gap:var(--space-6);}

    /* ============================================== END MARGINS AND PADDINGS ========================================== */



.display-text {
    text-transform: uppercase;
    line-height: 1;
    font-family: var(--ff-display);

}
.white-text {
    color: var(--clr-white-ink);
}
.grey-text {
    color: var(--clr-grey);

}
.highlight-text {
    color: var(--clr-primary);

}
.x-large-text {
    font-size:5rem;
    max-width:10ch;
}
.large-text {
    font-size: 3.7rem;
    max-width: 33ch;
}
.semilarge-text {
    font-size:3rem;
    max-width: 23ch;
}

.average-text {
    font-size: 1.5rem
}
.medium-text {
    font-size:1.2rem;
}
.normal-text {
    font-size:1rem;
}
.smaller-text {
    font-size:.9rem;
}
.small-text {
    font-size:.8rem;
}
.spaced-text {
    letter-spacing: 0.125rem;
}
.spacedish-text {
    letter-spacing:0.025rem;
}
.caps-text {
    text-transform: uppercase;
}
.lh-1 {line-height: 1.1;}
.lh-2 {line-height: 1.5}
.lh-3 {line-height: 2}
.w-ch60 {
    max-width:60ch;
}
.w-ch50 {
    max-width:50ch;
}
.w-ch40 {
    max-width:40ch;
}

.heavy-weight {
    font-weight: var(--fw-semibold);
}
.heavier-weight {
    font-weight: var(--fw-bold);
}
.heaviest-weight {
    font-weight: var(--fw-extrabold);
}

.normal-weight {
    font-weight: var(--fw-normal);
}
.light-weight {
    font-weight: var(--fw-light);
}
.text-center {
    text-align: center;
}
.text-right {
    text-align:right;
}
.text-left {
    text-align:left;
}
.wrap-pretty {
    text-wrap: balance;
}


h1,h2,h3,h4,h5,h6,section, div, table, ul, li, p {
    margin:0;
    padding:0;
}
section {
    padding-block:var(--section-pad);
}
section.section--dark {
    background-color: var(--clr-grey-darker);
    color: var(--clr-white-ink);
}
section.section--offwhite {
    background-color: var(--clr-offwhite    );
}
p {
    font-weight: var(--fw-light);
    line-height:2;
}
a {
    all:unset;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button {
    cursor:pointer;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}






body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;

  color: var(--clr-ink);
  background-color: var(--clr-background);
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  -webkit-font-smoothing: antialiased;
  padding:0;
  margin:0;
}

header {
   
    width:100%;
    margin-inline:auto;
    z-index:10;
}
header.floating-header {
    position:absolute; 
    top:0rem; 
    left:0; 
    right:0; 
    padding:1rem;
}
.desktop-nav {
    width:100%; 
    margin-inline:auto; 
    background-color:var(--clr-white-ink);
    color:var(--clr-ink);
    
    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding:1rem 2.5rem;
}
header.header-dark .desktop-nav {
    background-color: var(--clr-grey-dark);
    color:var(--clr-white-ink);


}
header.floating-header .desktop-nav {
    
    border-radius:var(--space-3);
}
.header-logo {
    max-width:100px;
}
.desktop-nav button#nav-drawer-toggle {
    flex-grow: 0;
    width:unset;
    border-radius:50%;
    stroke:var(--clr-ink);
    color:var(--clr-ink);
}
header.header-dark .desktop-nav button#nav-drawer-toggle {
    stroke:var(--clr-white-ink);
    color:var(--clr-white-ink);
}
.desktop-nav-pages {
    display:flex; 
    justify-content: center;
    gap:2rem;
    flex-grow:1;
    font-weight:var(--fw-semibold);
}

.nav-link {
    cursor:pointer;
}

.nav-drawer {
    border-top:1px solid var(--color-border-grey);
    background-color: var(--clr-background);
    color:var(--clr-ink);
    display:unset;
    width:min(50%, 350px);
    transition: translate .4s ease-out, opacity .4s ease-out;
    translate: 0 0;
    opacity:1;
    position: fixed;
    top:0;
    right:0;
    height:100%;
    max-height:100%;
    z-index:1002;
    padding-block:1rem;
    & button {
        border:none; 
        padding:1rem;
        background-color: transparent;
    }
    & .menu__body {
        display:grid; 
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        width:100%;
        height:100%;
        gap:1rem;
        justify-content: start;
        counter-reset: links 0;
        & li {
            position: relative;
            overflow:clip;
            & a {
                transform: translateY(0);
            }
        
            &::before {
                counter-increment: links;
                content: '0' counter(links) '.';
                position:absolute; 
                left:0; 
                top:1.15rem;
                font-weight:var(--fw-semibold);
                font-size:.8rem;
            }
        }
    }
    
}

.nav-drawer.hide {
    translate: 100% 0;
    opacity:0;
    transition: translate .4s .3s ease-out, opacity .4s ease-out;
    & li a {
        transform: translateY(-100%);
        transition: transform .3s .2s ease-out;
    }


}

.nav-drawer.no-display {
    display:none;
    
}

.nav-drawer-toggle:focus {
    outline: 1px solid var(--color-gold);
    outline-offset: .5rem;
}



footer {
    background-color: var(--clr-grey-dark);
    color:var(--clr-white-ink);
    container-name: footer;
    container-type:inline-size;
}
.footer__content {
    padding-block:2rem;
    display:grid;
    grid-template-columns: 350px 1fr;
    gap:1.5rem;
    max-width:var(--desktop-content);
    margin-inline: auto;
}.footer__section--left {
    border-right:1px solid rgba(170,170,170, .2);
    padding-right:1rem;
}
footer img {
    max-width:200px;
}


input,
button,
textarea,
select {
  font: inherit;
  width:100%;
  padding:.5rem; 

  color:var(--clr-ink);
  position:relative;
    background-color:transparent;
  border:.0125rem solid var(--clr-ink);
  color:var(--clr-ink);
  
  &::placeholder {
    color: var(--clr-grey);
  }
  &.disabled {
    opacity:.3;
    pointer-events: none;
    cursor: not-allowed;
  }
  &.floating-label ~ label {
    position:absolute; 
    top:.5rem;
    left:1rem;
    transition: .3s ease;
    pointer-events: none;
  }
  &.floating-label:focus  ~ label,
&.floating-label:user-valid ~ label,
&.floating-label:autofill ~ label
{
    top:-.2rem;
    font-size:.7rem;
    left:.6rem;
  }

}
label {
    color:#777;
}
form:has(.floating-label) .form-control {
    position:relative;
    margin-top:.251rem;
}


button:disabled {
    opacity:.3;
}


.btn {
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap:.75rem;
    border-radius:var(--space-1);
}
.btn.btn-primary {
    background-color:var(--clr-primary);
    color:var(--clr-ink);  
    font-weight: var(--fw-semibold);
}
.btn.btn-secondary {
    background-color: transparent;
    border-color:var(--clr-grey-light);
    color:var(--clr-white-ink);
}
.btn.btn-md {
    max-width:150px;
}
.content {
    max-width: var(--desktop-content);
    margin-inline:auto;
}

.breadcrumbs li:not(:last-of-type) {
    position:relative;
    &::after {
        content : '>';
        position: absolute;
        right:-1.25rem; 
        top:0.25;

    
    }
}
.progress-wrapper {
  

}

.progress-container {
    width:100%;
    background-color: var(--clr-grey-light);
    height:6px;
    position: relative;
}
.progress-progress {
    width: var(--destination, 0);
    background-color: var(--clr-primary);
    height:100%;
}


.seperator {
    width:100%; 
    height:1px;
    position: relative;
    background-color: rgba(250,250,250, 0.5);
    &::after {
        content: '';
        position:absolute; 
        left:.5rem; 
        top: -1px; 
        width:25%;
        height:4px;
        border-radius: 2px;;
    }
}
.seperator.seperator--light {
    &::after {
    background-color: rgb(250,250,250);

    }
}
.seperator.seperator--highlight::after {
    background-color: var(--clr-primary);
   
}
.seperator.seperator--noline {
    background-color: transparent;
}
.seperator.seperator--left::after {
    left:0;
}
.seperator.seperator--center::after {left:37.5%; width:25%}

.hero.hero-short {
    height:400px;
    background-color: var(--clr-grey-light);
    position:relative;
    padding:1rem;
}

.card {
    border-radius: var(--space-1);
    position:relative;

}
.card.card--dark {
    background-color: var(--clr-grey-darker);
    color:var(--clr-white-ink);

}
.card.card--light {
    background-color: transparent;
    border:2px solid rgba(170,170,170, .2);

}
.card.card--light.card--light-1 {
    background-color: var(--clr-white-ink);
}
.card.card--light.card--light-2 {
    background-color: var(--clr-grey-lighter);
}


.grid {
    display:grid;
}
.full-width {
    width:100%;
}
.full-height {
    height:100%;
}
.flex {
    display: flex;

}
.block {
    display:block;
}
.flex.col {
    flex-direction: column;
}
.fg-1 {
    flex-grow:1;
}
.fg-0 {flex-grow:0}

.fs-1 {flex-shrink: 1;}
.fs-0 {flex-shrink: 0;}

.justify-center {
        justify-content: center;
    }
.justify-between {
    justify-content: space-between;
}
.justify-stretch {
    justify-content: stretch;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items:start;
}
.align-end {
    align-items: end;
}
.grid.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid.col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid.col-2--right {
    grid-template-columns: .45fr .65fr;

}
.grid.col-2--left {
    grid-template-columns: .65fr .45fr;

}
.grid.col-4 {
    grid-template-columns: repeat(4, 1fr);
}


.label-img {
    width:100%; 
    aspect-ratio: 16/ 6.5;
    border-radius:var(--space-2);
    background-color: var(--clr-grey);
}
.poster-img {
    width:100%;
    height:100%;
    border-radius:var(--space-2);
    background-color: var(--clr-grey);
}

.tab-selector button {
    border-top:none;
    border-inline: none;
    border-bottom:1px solid var(--clr-grey-light);
    position: relative;
}
.tab-selector button::after {
    content: '';
    width:50%; 
    height:0px;
    border-radius:2px;
    position:absolute;
    bottom:-1.5px; 
    left:25%;
    background-color: var(--clr-grey-light);
}
.tab-selector button:hover::after {
    height:2px;
}

.tab-selector.is-active button::after{
    height:2px;
    background-color: var(--clr-primary);

}

.reviews-viewbox {
    overflow-x: scroll;
    width:100%;
    position:relative;
    
}
.reviews-scrollbox {
    width:200%;
    display: flex; 
    gap:1rem;
}
.review-icon-block {
    width:50px;
    aspect-ratio: 1/1;
    border-radius: var(--space-1);
    background-color:var(--clr-grey-darker);

}
.review-stars {
    color:var(--clr-primary);
}
.review-card-header {
    border-bottom:1px solid rgba(170,170,170, .2);
}

.review-text {
    position:relative; 

}

.review-text q::before, .review-text q::after {

    font-size:5rem;
    position:absolute; 
    opacity:.1;
    line-height: 1;
}
.review-text q::before {
    content: '“';
    top: 0; left:0;
}
.review-text q::after {
    content: '„';
    bottom:0; right:0;
}


