<ul class="breadcrumbs flex align-center justify-center text-center g-5 white-text smaller-text heavy-weight">
    <li class="fade-left-item is-visible" style="--transition-delay:.3s"><a href="{{url_for('main.home')}}">Home</a></li>
    {% if obj %}
    <li class="fade-left-item is-visible" style="--transition-delay:.5s"><a href="{{url_for('main.' + obj.parent_route)}}"> {{obj.parent_title}}</a></li>
    <li class="fade-left-item is-visible" style="--transition-delay:.7s"><a> {{obj.title}}</a></li>
    
    {% else %}
    <li class="fade-left-item is-visible" style="--transition-delay:.5s"><a>{% if page %} {{page.body_title}}{% endif %}</a></li>
    {% endif %}
    
</ul>