<footer class="">
    <div class="footer__content">
        <div class="footer__section footer__section--left">
            <img class="footer__logo" src="/static/img/logo.png" alt="Conservatory Roof Converters Logo">
            <p class="footer__description py-3 smaller-text lh-2">Conservatory Roof Converters is a leading provider of high-quality conservatories and garden rooms in the UK. We specialize in creating beautiful, functional spaces that enhance your home and lifestyle.</p>
             <a class="small-text heavy-weight block mb-6" href="mailto:info@theconservatoryroofconverters.co.uk">info@theconservatoryroofconverters.co.uk</a>
             <a class="small-text heavy-weight block  " href="tel:+447708788901">+44 7708 788901</a>
            
        </div>
        <div class="footer__section footer__section--right">
            <div class="grid col-3 sm-col-2 g-5 mb-4">
                <div>
                    <h4 class="average-text light-weight">Quick Links</h4>
                    <div class="seperator seperator--highlight seperator--noline seperator--left mt-2 mb-4 "></div>
                    <ul class="footer__links normal-weight smaller-text">
                        <li class="py-2"><a  href="{{url_for('main.about')}}">About Us</a></li>
                        <li class="py-2"><a  href="{{url_for('main.contact')}}">Contact</a></li>
                        <li class="py-2"><a  href="{{url_for('main.project_list')}}">Projects</a></li>
                        <li class="py-2"><a  href="{{url_for('main.article_list')}}">Blog</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="average-text light-weight">Services</h4>
                    <div class="seperator seperator--highlight seperator--noline seperator--left mt-2 mb-4 "></div>
                    <ul class="footer__links normal-weight smaller-text">
                        <li class="py-2"><a  href="{{url_for('main.service_list')}}">All Services</a></li>
                        <li class="py-2"><a  href="{{url_for('main.service_detail' , slug='conservatory-roofs')}}">Roof Conversion</a></li>
                        <li class="py-2"><a  href="{{url_for('main.service_detail' , slug='garden-rooms')}}">Garden Rooms</a></li>
                        <li class="py-2"><a  href="{{url_for('main.service_detail' , slug='interior-design')}}">Interior Design</a></li>
                    </ul>
                </div>
                <div class="sm-span-2 sm-text-center">
                    <h4 class="average-text light-weight">Socials</h4>
                     <ul class="footer__socials grid col-4 g-3 py-4">

                                   

                        
                        <li>
                            <a href="https://www.facebook.com/theconservatoryroofconverters" target="_blank" rel="noreferrer noopener" style="fill:#ffffff; stroke:#ffffff;">
                                <img src="/static/svg/facebook.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/conservatoryroofconverters" target="_blank" rel="noreferrer noopener" style="fill:#ffffff; stroke:#ffffff;">
                                <img src="/static/svg/instagram.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.x.com/conservatoryroofconverters" target="_blank" rel="noreferrer noopener" style="fill:#ffffff; stroke:#ffffff;">
                                <img src="/static/svg/x.svg">
                            </a>
                        </li>
                         <li>
                            <a href="https://www.tiktok.com/@conservatoryroofconverters" target="_blank" rel="noreferrer noopener" style="fill:#ffffff; stroke:#ffffff;">
                                <img src="/static/svg/tiktok.svg">
                            </a>
                        </li>
                        
                    </ul>
                    <h4 class="normal-text light-weight mt-3 mb-1">Certificates</h4>
                    <div class="footer__badges grid col-3 py-3">
                        
                        <img src="/static/img/certificates/certificate1.png" alt="Certification 1">
                        <img src="/static/img/certificates/certificate2.png" alt="Certification 2">
                        <img src="/static/img/certificates/certificate3.png" alt="Certification 3">
                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="flex content full-width justify-between small-text align-center py-2">
        <div class="flex g-3 justify-start">
            <a href="{{url_for('main.policy_detail', slug='privacy-policy')}}">Privacy</a> 
            <a href="{{url_for('main.policy_detail', slug='cookie-policy')}}">Cookies</a> 
            <a href="{{url_for('main.policy_detail', slug='terms-and-conditions')}}">Terms</a>
        </div>
        <p class="text-right">&copy; {{ current_year }} CRC Group. All rights reserved.</p>
    </div>
</footer>