<header class="{%- if hdr %}
        header-{{hdr.color}}{%- if hdr.floating %}
    floating-header 
{% endif %}
    {% endif %}"
    
    >
        <nav class="desktop-nav">
            <div>
                <img class="header-logo"src="/static/img/logo.png">
            </div>

            <ul class="px-3 py-3 desktop-nav-pages">
                <li><a class="nav-link {% if page and page.tag == 'home' %}nav-link--active{% endif %}" href="/">Home</a></li>
                <li><a class="nav-link {% if page and page.tag == 'about' %}nav-link--active{% endif %}" href="/about">About Us</a></li>
                <li><a class="nav-link {% if page and page.tag == 'services' %}nav-link--active{% endif %}" href="/services">Services</a></li>
                <li><a class="nav-link {% if page and page.tag == 'projects'  %}nav-link--active{% endif %}" href="/projects">Projects</a></li>
                <li><a class="nav-link {% if page and page.tag == 'blog' %}nav-link--active{% endif %}" href="/blog">Blog</a></li>
                <li><a class="nav-link {% if page and page.tag == 'contact' %}nav-link--active{% endif %}" href="/contact">Contact</a></li>
            </ul>
            <div class="flex align-center g-3">
                <div>
                <button class="btn btn-primary p-3 smaller-text">
                    <span>Get A Quote</span>
                    <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                </button>
                </div>
                <div>
                <button 
                    id="nav-drawer-toggle" 
                    class="nav-button btn btn-secondary"
                    aria-expanded="false" 
                    aria-controls="nav-drawer" 
                    aria-label="Open main menu"
                    >
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu" style="width: 24px; height: 24px;">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </button>
            </div>
            </div>
        </nav>
</header>

{% include "base/nav-drawer.html" %}